@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.wrapper {
  height: 100vh;
  width: 100vw;
  @include flexbox(flex, row, center, center, nowrap);
  background-color: $secondaryColor;
  .pok-detail {
    height: 50%;
    padding: 5%;
    border: 5px solid $mainColor;
    border-radius: 5%;
    background-color: white;
    @include flexbox(flex, row, center, center, nowrap);
    img {
      height: 300px;
    }
    &__details {
      @include flexbox(flex, column, center, flex-start, nowrap);
      h2 {
        margin: 0;
        color: $textPrimaryColor;
      }
      span {
        color: $textSecondaryColor;
        strong {
          color: $textPrimaryColor;
        }
      }
    }
  }
}
